body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}
@font-face {
    font-family: 'poetsen_oneregular';
    src: url('./assets/webfontkit/specimen_files/poetsenone-regular-webfont.woff2') format('woff2'),
         url('./assets/webfontkit/specimen_files/poetsenone-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}