.panel-group {
    width: 70%;
    margin: 8% auto;
}

.panel-heading {
    position: relative;
    height: 50px;
}

.panel-title a {
    line-height: 31px;
}

.add-btn {
    position: absolute;
    right: 18px;
    top: 10px;
    margin: 0;
    height: 30px;
    font-size: 12px;
}

.grow {
    display: unset;
}

.shrink {
    display: none;
}

@media screen and (max-width: 550px) {
    .add-btn {
        width: 50px;
    }
    .anchor {
        font-size: 12px;
    }
    .grow {
        display: none;
    }
    .shrink {
        display: unset;
    }
}
