#root {
    position: relative;
}

/******************
    BACKGROUND
******************/

.login-background {
    position: absolute;

    /*To support older browsers*/
    height: 100%;
    width: 100%;

    /* Set the height to match that of the viewport. */
    height: 100vh;

    /* Set the width to match that of the viewport. */
    width: 100vw;

    background-image: url('../../assets/img/fall-winter--igor-cibulsky.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 40%;
}

.login-background::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: white;
    opacity: 0.2;
}

/******************
       FORM
******************/

.login-form {
    position: relative;
    width: 260px;
    margin: auto;
    margin-top: 14%;
    z-index: 2;

    background-color: white;
    height: 355px;
    padding: 50px 40px;
    border-radius: 10px;

    box-shadow: 0 3px 20px rgb(68, 68, 68);
}

form {
    margin: auto -5px;
}

/* LOGO */
#logo {
    width: 120px;
    height: 40px;
    margin: auto;
    padding-left: -5px;
    margin-bottom: 15px;
    display: block;
    background-image: url('../../assets/img/logotype.svg');
    background-size: cover;
    background-position: center;
}

label {
    font-size: 11px;
    font-weight: 500;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: rgb(204, 204, 204);
}

/* INPUT */
input#email,
input#password {
    border-color: rgb(236, 236, 236);
    color: #85693A;
    border-radius: 3px;
    font-size: 12.5px;
    font-weight: 500;
    margin-bottom: -5px;
}

input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: rgb(230, 230, 230) !important;
    opacity: 1; /* Firefox */
}

input:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: rgb(230, 230, 230) !important;
}

input::-ms-input-placeholder { /* Microsoft Edge */
    color: rgb(230, 230, 230) !important;
}

.form-control:focus {
    border-color: rgba(190, 190, 190, 0.534);
    -webkit-box-shadow: inset 0 1px 1px rgba(190, 190, 190, 0.534), 0 0 8px rgba(190, 190, 190, 0.534);
    box-shadow: inset 0 1px 1px rgba(190, 190, 190, 0.534), 0 0 8px rgba(190, 190, 190, 0.534);
}

/* BUTTON */
#login-btn {
    border: none;
    border-radius: 3px;
    background-color: #63757A;
    text-transform: uppercase;
    font-size: 11px;
    margin-top: 10px;
}

#login-btn:hover {
    background-color: rgb(82, 98, 102);
}