.search-wrapper {
    display: flex;
    justify-content: space-around;
    margin-top: 18%;
}

.search-div {
    position: fixed;
    width: 65%;
    margin: auto;
    /* margin-top: calc(-230px - 20 * (140vw - 320px)/ 1000); */
    /* margin-top: -20.5%; */
}

.select-option {
    color: rgb(31, 31, 31);
}

/******************
   MEDIA QUERIES
******************/

@media only screen and (max-width: 768px) {
    .search-div {
        width: 80% !important;
    }
}