
#results {
    margin: 40px auto;
    width: 95%;
    text-align: center;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.no-results-message {
    margin: 30% auto;
}

#results .card {
    width: 340px;
    margin: 20px 10px;
    padding: 27px;
    /* height: 390px; */
    border-radius: 5px;
    border: 1px solid #aaa;
    position: relative;
}

#results .card:hover {
    cursor: pointer;
    opacity: 0.8;
}

#results .card .card-img {
    border-radius: 5px;
    background-size: cover;
    background-position: center;
    width: 100%;
    margin: auto;
    height: 190px;
    margin-bottom: 20px;
    /* position: relative; */
}

/* #results .card .card-img::after {
    content: '';
    background-color: white;
    opacity: 0.2;
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    z-index: auto;
} */