.account-form-div {
    width: 65%;
    position: relative;
    /* border: 5px solid rgba(0,0,0,.26); */
    border-radius: 4px;
    background: white;
    box-shadow: 0 1px 3px rgb(184, 184, 184);
    margin: 6.5rem auto 0;
}

.account-form-header {
    /* background-color: rgb(12, 196, 209); */
    /* background-color: rgb(2, 96, 204); */
    background-color: rgb(2, 204, 204);
    color: white;
    height: 85px;
    padding: 0; margin: 0;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    text-align: center;
}

.account-form-header p {
    margin-top: 0;
    padding-top: 25px;
    font-size: 26px;
    font-weight: 400px;
}

#account-form {
    width: 100%;
    margin: 15px auto 15px;
    padding: 20px 40px 90px;
}

#account-form label {
    font-weight: 500;
}

#account-form input {
    height: 37px;
    border-color: rgb(221, 221, 221);
    margin-bottom: 20px;
}

.account-btn-div {
    width: 100%;
}

#delete-account-btn,
#update-account-btn {
    font-weight: 500;
    color: white;
    height: 37px;
    font-size: 13px;
    text-transform: uppercase;
    margin-top: 10px;
}

#delete-account-btn {
    color: black;
}

#delete-account-btn:hover {
    background: rgb(241, 6, 6);
    color: white;
    border-color: white;
}

#update-account-btn {
    color: black;
    margin-left: 20px;
}

#update-account-btn:hover {
    background: rgb(0, 212, 184);
    color: white;
    border-color: white;
}

/******************
   MEDIA QUERIES
******************/

@media screen and (max-width: 768px) {
    .account-form-div {
        width: 80%;
    }

    .account-btn-div {
        width: 100%;
    }
}